<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Form</title>
        <link rel="stylesheet" href="/src/main/resources/static/assets/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/src/main/resources/static/assets/sfucslogo.png" alt="sfucslogo" width="200" height="60" class="d-flex ">
                <h2>Edit User</h2>
          </a>
        </div>
    </nav>

    <div class="container text-center pt-5" id="ratings-container">
        <div class="row text-start">
            <div class="card">
                <div class="mb-3">
                    <label for="NameInput" class="form-label custom-red-muted fw-bold">Name:</label>
                    <input type="name" class="form-control" id="NameInput" placeholder="Simon Fraser">
                </div>
                <div class="mb-3">
                    <label for="EmailInput" class="form-label custom-red-muted fw-bold">Email:</label>
                    <input type="email" class="form-control" id="EmailInput" placeholder="simonfraser@sfu.ca">
                </div>
                <div class="mb-3 text-start">
                    <p class="custom-red-muted fw-bold mb-2">Role:</p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select a Role</option>
                        <option value="1">Professor</option>
                        <option value="2">Instructor</option>
                        <option value="3">Teaching Assistant</option>
                        <option value="4">Staff</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="CommentInput" class="form-label custom-red-muted fw-bold">Comments:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <div id="CommentHelpBlock" class="form-text">
                        Comment is limited to 350 characters.
                    </div>
                </div>
                
            </div>

        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>