<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index Page</title>
        <link rel="stylesheet" th:href="@{/assets/styles.css}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body class="bg-secondary-subtle">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/users/index}">
            <img th:src="@{/assets/sfucslogo.png}" alt="Logo" width="200" height="60" class="d-flex">
            <h2>Staff Ratings</h2>
          </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/users/index}">Home</a>
                    <a class="nav-link" th:href="@{/users/create}">New Rating</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="p-4 fs-5 custom-red-muted text-center" th:if="${users.size() == 0}">No Ratings at this moment.</div>
    <div class="container text-center py-5" id="ratings-container">
        <div class="row justify-content-center g-4">
            <div class="col-10 col-md-8 col-lg-7" th:each="u : ${users}">
                <div class="card mb-3">
                    <div class="card-body p-4 p-md-5">
                    <!--Name-->
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <p class="custom-red fw-bold fs-2 mb-0" th:text="${u.displayName}">
                                Professor Bobby Chan
                            </p>
                            <span class="badge bg-dark" th:text="${u.roleType}">
                                PROF
                            </span>
                        </div>
                        <!--Average-->
                        <div class="text-center mb-3">
                            <p class="fw-bold fs-3 text-secondary-emphasis mb-1">Average: </p>
                            <p class="fw-bold fs-2 custom-red-muted" th:text="${u.averageScore}"></p>
                        </div>
                    </div>

                    <!--View button-->
                    <div class="text-center mb-3">
                        <a class="btn btn-sm btn-outline-dark" th:href="@{/users/details/{uid}(uid=${u.uid})}">
                            View More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>


    
</html>