<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body class="bg-secondary-subtle">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="SFU LOGO">
            <img src="/src/main/resources/static/assets/sfucslogo.png" alt="Logo" width="200" height="60" class="d-flex">
            <h2>Staff Ratings</h2>
          </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">New Rating</a>
                    <a class="nav-link" href="#">Edit Rating</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container text-center pt-5" id="ratings-container">
        <div class="row">
            <div class="card mb-3">
                <!--Name-->
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <p>Bobby Chan</p>
                </div>
            <div class="row">
                <!--Clarity-->
                <div class="mb-2">
                    <p>Clarity:</p>
                    <p>10</p>
                </div>

                <div class="mb-2">
                    <p>Niceness:</p>
                    <p>10</p>
                </div>
            </div>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>


    
</html>